@layer lr-base, lr-theme, lr-theme-preset, lr-utilities, lr-overrides;
@layer lr-theme-preset.look, lr-theme-preset.density, lr-theme-preset.surface, lr-theme-preset.accent, lr-theme-preset.mode;
@layer lr-theme-preset.accent {
  [data-lr-accent='emerald'] {
    --_lr-accent-installed: emerald-1;
    --lr-theme-accent: #34d399;
    --_lr-al-color-brand-fill-quiet: rgb(227 249 241);
    --_lr-al-color-brand-fill-normal: rgb(143 231 199);
    --_lr-al-color-brand-fill-loud: rgb(26 106 77);
    --_lr-al-color-brand-border-quiet: rgb(178 238 216);
    --_lr-al-color-brand-border-normal: rgb(65 134 109);
    --_lr-al-color-brand-border-loud: rgb(21 85 62);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(31 127 92);
    --_lr-ad-color-brand-fill-quiet: rgb(32 70 56);
    --_lr-ad-color-brand-fill-normal: rgb(42 141 105);
    --_lr-ad-color-brand-fill-loud: rgb(52 211 153);
    --_lr-ad-color-brand-border-quiet: rgb(38 111 84);
    --_lr-ad-color-brand-border-normal: rgb(46 170 125);
    --_lr-ad-color-brand-border-loud: rgb(93 220 173);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(0 0 0);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(52 211 153);
  }
  [data-lr-accent='peridot'] {
    --_lr-accent-installed: peridot-1;
    --lr-theme-accent: #a8d84a;
    --_lr-al-color-brand-fill-quiet: rgb(243 250 230);
    --_lr-al-color-brand-fill-normal: rgb(207 234 155);
    --_lr-al-color-brand-fill-loud: rgb(84 108 37);
    --_lr-al-color-brand-border-quiet: rgb(222 240 186);
    --_lr-al-color-brand-border-normal: rgb(115 136 75);
    --_lr-al-color-brand-border-loud: rgb(67 86 30);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(101 130 44);
    --_lr-ad-color-brand-fill-quiet: rgb(60 72 38);
    --_lr-ad-color-brand-fill-normal: rgb(114 144 56);
    --_lr-ad-color-brand-fill-loud: rgb(168 216 74);
    --_lr-ad-color-brand-border-quiet: rgb(91 113 48);
    --_lr-ad-color-brand-border-normal: rgb(137 174 63);
    --_lr-ad-color-brand-border-loud: rgb(185 224 110);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(0 0 0);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(168 216 74);
  }
  [data-lr-accent='topaz'] {
    --_lr-accent-installed: topaz-1;
    --lr-theme-accent: #f0a83c;
    --_lr-al-color-brand-fill-quiet: rgb(253 243 228);
    --_lr-al-color-brand-fill-normal: rgb(247 207 148);
    --_lr-al-color-brand-fill-loud: rgb(120 84 30);
    --_lr-al-color-brand-border-quiet: rgb(249 222 181);
    --_lr-al-color-brand-border-normal: rgb(146 115 69);
    --_lr-al-color-brand-border-loud: rgb(96 67 24);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(168 118 42);
    --_lr-ad-color-brand-fill-quiet: rgb(77 60 34);
    --_lr-ad-color-brand-fill-normal: rgb(159 114 47);
    --_lr-ad-color-brand-fill-loud: rgb(240 168 60);
    --_lr-ad-color-brand-border-quiet: rgb(124 91 42);
    --_lr-ad-color-brand-border-normal: rgb(193 137 53);
    --_lr-ad-color-brand-border-loud: rgb(243 185 99);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(0 0 0);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(240 168 60);
  }
  [data-lr-accent='ruby'] {
    --_lr-accent-installed: ruby-1;
    --lr-theme-accent: #e63950;
    --_lr-al-color-brand-fill-quiet: rgb(252 227 230);
    --_lr-al-color-brand-fill-normal: rgb(241 146 159);
    --_lr-al-color-brand-fill-loud: rgb(184 46 64);
    --_lr-al-color-brand-border-quiet: rgb(246 180 189);
    --_lr-al-color-brand-border-normal: rgb(190 90 103);
    --_lr-al-color-brand-border-loud: rgb(147 37 51);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(230 57 80);
    --_lr-ad-color-brand-fill-quiet: rgb(75 33 39);
    --_lr-ad-color-brand-fill-normal: rgb(152 45 59);
    --_lr-ad-color-brand-fill-loud: rgb(238 116 133);
    --_lr-ad-color-brand-border-quiet: rgb(120 40 51);
    --_lr-ad-color-brand-border-normal: rgb(199 91 105);
    --_lr-ad-color-brand-border-loud: rgb(241 144 157);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(255 255 255);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(230 57 80);
  }
  [data-lr-accent='tourmaline'] {
    --_lr-accent-installed: tourmaline-1;
    --lr-theme-accent: #ec4899;
    --_lr-al-color-brand-fill-quiet: rgb(252 229 241);
    --_lr-al-color-brand-fill-normal: rgb(245 154 199);
    --_lr-al-color-brand-fill-loud: rgb(165 50 107);
    --_lr-al-color-brand-border-quiet: rgb(248 185 216);
    --_lr-al-color-brand-border-normal: rgb(169 86 127);
    --_lr-al-color-brand-border-loud: rgb(132 40 86);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(212 65 138);
    --_lr-ad-color-brand-fill-quiet: rgb(76 37 56);
    --_lr-ad-color-brand-fill-normal: rgb(156 55 105);
    --_lr-ad-color-brand-fill-loud: rgb(240 109 173);
    --_lr-ad-color-brand-border-quiet: rgb(123 47 84);
    --_lr-ad-color-brand-border-normal: rgb(197 81 138);
    --_lr-ad-color-brand-border-loud: rgb(243 138 189);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(255 255 255);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(236 72 153);
  }
  [data-lr-accent='amethyst'] {
    --_lr-accent-installed: amethyst-1;
    --lr-theme-accent: #9d6df0;
    --_lr-al-color-brand-fill-quiet: rgb(241 235 253);
    --_lr-al-color-brand-fill-normal: rgb(201 175 247);
    --_lr-al-color-brand-fill-loud: rgb(110 76 168);
    --_lr-al-color-brand-border-quiet: rgb(218 200 249);
    --_lr-al-color-brand-border-normal: rgb(129 105 171);
    --_lr-al-color-brand-border-loud: rgb(88 61 134);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(141 98 216);
    --_lr-ad-color-brand-fill-quiet: rgb(57 46 77);
    --_lr-ad-color-brand-fill-normal: rgb(107 77 159);
    --_lr-ad-color-brand-fill-loud: rgb(177 138 243);
    --_lr-ad-color-brand-border-quiet: rgb(86 64 124);
    --_lr-ad-color-brand-border-normal: rgb(141 107 199);
    --_lr-ad-color-brand-border-loud: rgb(193 161 245);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(255 255 255);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(157 109 240);
  }
  [data-lr-accent='aquamarine'] {
    --_lr-accent-installed: aquamarine-1;
    --lr-theme-accent: #22d3ee;
    --_lr-al-color-brand-fill-quiet: rgb(224 249 253);
    --_lr-al-color-brand-fill-normal: rgb(133 231 246);
    --_lr-al-color-brand-fill-loud: rgb(17 106 119);
    --_lr-al-color-brand-border-quiet: rgb(171 238 249);
    --_lr-al-color-brand-border-normal: rgb(58 134 146);
    --_lr-al-color-brand-border-loud: rgb(14 85 95);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(20 127 143);
    --_lr-ad-color-brand-fill-quiet: rgb(28 70 77);
    --_lr-ad-color-brand-fill-normal: rgb(31 141 157);
    --_lr-ad-color-brand-fill-loud: rgb(34 211 238);
    --_lr-ad-color-brand-border-quiet: rgb(30 111 124);
    --_lr-ad-color-brand-border-normal: rgb(32 170 191);
    --_lr-ad-color-brand-border-loud: rgb(78 220 241);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(0 0 0);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(34 211 238);
  }
  [data-lr-accent='sapphire'] {
    --_lr-accent-installed: sapphire-1;
    --lr-theme-accent: #4f8ff7;
    --_lr-al-color-brand-fill-quiet: rgb(230 239 254);
    --_lr-al-color-brand-fill-normal: rgb(158 193 251);
    --_lr-al-color-brand-fill-loud: rgb(47 86 148);
    --_lr-al-color-brand-border-quiet: rgb(188 212 252);
    --_lr-al-color-brand-border-normal: rgb(90 122 174);
    --_lr-al-color-brand-border-loud: rgb(38 69 118);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(63 114 198);
    --_lr-ad-color-brand-fill-quiet: rgb(39 54 79);
    --_lr-ad-color-brand-fill-normal: rgb(59 99 163);
    --_lr-ad-color-brand-fill-loud: rgb(114 165 249);
    --_lr-ad-color-brand-border-quiet: rgb(50 80 128);
    --_lr-ad-color-brand-border-normal: rgb(86 131 204);
    --_lr-ad-color-brand-border-loud: rgb(142 183 250);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(255 255 255);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(79 143 247);
  }
  [data-lr-accent='hematite'] {
    --_lr-accent-installed: hematite-1;
    --lr-theme-accent: #94a3b8;
    --_lr-al-color-brand-fill-quiet: rgb(240 242 245);
    --_lr-al-color-brand-fill-normal: rgb(196 204 216);
    --_lr-al-color-brand-fill-loud: rgb(89 98 110);
    --_lr-al-color-brand-border-quiet: rgb(214 220 228);
    --_lr-al-color-brand-border-normal: rgb(107 113 122);
    --_lr-al-color-brand-border-loud: rgb(71 78 88);
    --_lr-al-color-brand-on-quiet: rgb(0 0 0);
    --_lr-al-color-brand-on-normal: rgb(0 0 0);
    --_lr-al-color-brand-on-loud: rgb(255 255 255);
    --_lr-al-color-focus: rgb(104 114 129);
    --_lr-ad-color-brand-fill-quiet: rgb(55 59 64);
    --_lr-ad-color-brand-fill-normal: rgb(102 111 124);
    --_lr-ad-color-brand-fill-loud: rgb(159 172 191);
    --_lr-ad-color-brand-border-quiet: rgb(82 89 99);
    --_lr-ad-color-brand-border-normal: rgb(121 133 149);
    --_lr-ad-color-brand-border-loud: rgb(178 189 204);
    --_lr-ad-color-brand-on-quiet: rgb(255 255 255);
    --_lr-ad-color-brand-on-normal: rgb(255 255 255);
    --_lr-ad-color-brand-on-loud: rgb(0 0 0);
    --_lr-ad-color-focus: rgb(148 163 184);
  }
}
