@layer lr-base, lr-theme, lr-theme-preset, lr-utilities, lr-overrides;
@layer lr-theme-preset.look, lr-theme-preset.density, lr-theme-preset.surface, lr-theme-preset.accent, lr-theme-preset.mode;
@layer lr-theme-preset.look {
  [data-lr-look='material'] {
    --_lr-look-installed: material-1;
    --_lr-ll-color-surface-default: #fff8f5;
    --_lr-ld-color-surface-default: #18120f;
    --_lr-ll-color-surface-raised: #f8eeea;
    --_lr-ld-color-surface-raised: #251d19;
    --_lr-ll-color-surface-overlay: #fff8f5;
    --_lr-ld-color-surface-overlay: #302621;
    --_lr-ll-color-text-normal: #241b17;
    --_lr-ld-color-text-normal: #f8eee8;
    --_lr-ll-color-text-quiet: #67594f;
    --_lr-ld-color-text-quiet: #c9b9ae;
    --_lr-ll-color-surface-border: #89786a;
    --_lr-ld-color-surface-border: #a18d7e;
    --_lr-ll-color-surface-border-subtle: #dfd0c5;
    --_lr-ld-color-surface-border-subtle: #514037;
    --_lr-ll-color-border-strong: #67594f;
    --_lr-ld-color-border-strong: #c9b9ae;
    --_lr-ll-color-brand-fill-quiet: #f8e0ca;
    --_lr-ld-color-brand-fill-quiet: #492d17;
    --_lr-ll-color-brand-fill-normal: #ead0b5;
    --_lr-ld-color-brand-fill-normal: #6d4729;
    --_lr-ll-color-brand-fill-loud: #704319;
    --_lr-ld-color-brand-fill-loud: #f2b983;
    --_lr-ll-color-brand-border-quiet: #ead0b5;
    --_lr-ld-color-brand-border-quiet: #6d4729;
    --_lr-ll-color-brand-border-normal: #94643b;
    --_lr-ld-color-brand-border-normal: #c2946d;
    --_lr-ll-color-brand-border-loud: #704319;
    --_lr-ld-color-brand-border-loud: #f2b983;
    --_lr-ll-color-brand-on-quiet: #241b17;
    --_lr-ld-color-brand-on-quiet: #fff8f5;
    --_lr-ll-color-brand-on-normal: #241b17;
    --_lr-ld-color-brand-on-normal: #fff8f5;
    --_lr-ll-color-brand-on-loud: #ffffff;
    --_lr-ld-color-brand-on-loud: #281607;
    --_lr-ll-color-focus: #704319;
    --_lr-ld-color-focus: #f2b983;
    --lr-theme-border-radius-xs: 0.25rem;
    --lr-theme-border-radius-m: 0.75rem;
    --lr-theme-border-radius-button: 1.5rem;
    --lr-theme-border-radius-container: 1rem;
    --lr-theme-font-family-heading: system-ui, sans-serif;
    --_lr-ll-form-control-height-s: 2.25rem;
    --_lr-ld-form-control-height-s: 2.25rem;
    --_lr-ll-form-control-height-m: 2.75rem;
    --_lr-ld-form-control-height-m: 2.75rem;
    --_lr-ll-form-control-height-l: 3.25rem;
    --_lr-ld-form-control-height-l: 3.25rem;
    --_lr-ll-icon-button-size: 2.75rem;
    --_lr-ld-icon-button-size: 2.75rem;
    --_lr-ll-color-mix-partner: currentColor;
    --_lr-ld-color-mix-partner: currentColor;
    --lr-theme-color-mix-hover: 8%;
    --lr-theme-color-mix-active: 12%;
    --_lr-ll-color-chart-1: #0e006e;
    --_lr-ld-color-chart-1: #bbff94;
    --_lr-ll-color-chart-2: #4d011a;
    --_lr-ld-color-chart-2: #ffbce8;
    --_lr-ll-color-chart-3: #862002;
    --_lr-ld-color-chart-3: #2bd66a;
    --_lr-ll-color-chart-4: #503983;
    --_lr-ld-color-chart-4: #bb99cb;
    --_lr-ll-color-chart-5: #315fdd;
    --_lr-ld-color-chart-5: #7888fe;
    --_lr-ll-color-chart-6: #935e7c;
    --_lr-ld-color-chart-6: #9b6b90;
    --_lr-ll-color-chart-7: #de6906;
    --_lr-ld-color-chart-7: #db3a29;
    --_lr-ll-color-chart-8: #8f81d3;
    --_lr-ld-color-chart-8: #555de3;
    --_lr-ll-color-chart-sequential-1: #ede9fe;
    --_lr-ld-color-chart-sequential-1: #2e1065;
    --_lr-ll-color-chart-sequential-2: #8b5cf6;
    --_lr-ld-color-chart-sequential-2: #8b5cf6;
    --_lr-ll-color-chart-sequential-3: #4c1d95;
    --_lr-ld-color-chart-sequential-3: #ddd6fe;
    --_lr-ll-color-chart-diverging-1: #9d174d;
    --_lr-ld-color-chart-diverging-1: #f9a8d4;
    --_lr-ll-color-chart-diverging-2: #f5f3ff;
    --_lr-ld-color-chart-diverging-2: #3f3f46;
    --_lr-ll-color-chart-diverging-3: #115e59;
    --_lr-ld-color-chart-diverging-3: #5eead4;
    --_lr-ll-color-surface-container-lowest: #ffffff;
    --_lr-ld-color-surface-container-lowest: #120d0a;
    --_lr-ll-color-surface-container-low: #fcf2ed;
    --_lr-ld-color-surface-container-low: #211914;
    --_lr-ll-color-surface-container: #f8eeea;
    --_lr-ld-color-surface-container: #251d19;
    --_lr-ll-color-surface-container-high: #f2e7e0;
    --_lr-ld-color-surface-container-high: #302621;
    --_lr-ll-color-surface-container-highest: #ecdfd7;
    --_lr-ld-color-surface-container-highest: #3a2f29;
  }
}
