@layer lr-base, lr-theme, lr-theme-preset, lr-utilities, lr-overrides;
@layer lr-theme-preset.look, lr-theme-preset.density, lr-theme-preset.surface, lr-theme-preset.accent, lr-theme-preset.mode;
@layer lr-theme-preset.look {
  [data-lr-look='terminal'] {
    --_lr-look-installed: terminal-1;
    --_lr-ll-color-surface-default: #fcfdf9;
    --_lr-ld-color-surface-default: #0e1713;
    --_lr-ll-color-surface-raised: #f1f5eb;
    --_lr-ld-color-surface-raised: #18271e;
    --_lr-ll-color-surface-overlay: #fcfdf9;
    --_lr-ld-color-surface-overlay: #203227;
    --_lr-ll-color-text-normal: #183626;
    --_lr-ld-color-text-normal: #e5f5e9;
    --_lr-ll-color-text-quiet: #44634d;
    --_lr-ld-color-text-quiet: #afc9b7;
    --_lr-ll-color-surface-border: #6b806b;
    --_lr-ld-color-surface-border: #7c9e87;
    --_lr-ll-color-surface-border-subtle: #d7e1d0;
    --_lr-ld-color-surface-border-subtle: #395343;
    --_lr-ll-color-border-strong: #6b806b;
    --_lr-ld-color-border-strong: #7c9e87;
    --_lr-ll-color-focus: #24613c;
    --_lr-ld-color-focus: #9addab;
    --_lr-ll-color-surface-container-lowest: #fcfdf9;
    --_lr-ld-color-surface-container-lowest: #0e1713;
    --_lr-ll-color-surface-container-low: #f1f5eb;
    --_lr-ld-color-surface-container-low: #18271e;
    --_lr-ll-color-surface-container: #f1f5eb;
    --_lr-ld-color-surface-container: #18271e;
    --_lr-ll-color-surface-container-high: #f1f5eb;
    --_lr-ld-color-surface-container-high: #18271e;
    --_lr-ll-color-surface-container-highest: #f1f5eb;
    --_lr-ld-color-surface-container-highest: #18271e;
    --_lr-ll-color-brand-fill-quiet: #eaf4e5;
    --_lr-ld-color-brand-fill-quiet: #1b3225;
    --_lr-ll-color-brand-on-quiet: #183626;
    --_lr-ld-color-brand-on-quiet: #e5f5e9;
    --_lr-ll-color-brand-border-quiet: #6b806b;
    --_lr-ld-color-brand-border-quiet: #7c9e87;
    --_lr-ll-color-brand-fill-normal: #d7eaca;
    --_lr-ld-color-brand-fill-normal: #2a4934;
    --_lr-ll-color-brand-on-normal: #183626;
    --_lr-ld-color-brand-on-normal: #e5f5e9;
    --_lr-ll-color-brand-border-normal: #6b806b;
    --_lr-ld-color-brand-border-normal: #7c9e87;
    --_lr-ll-color-brand-fill-loud: #24613c;
    --_lr-ld-color-brand-fill-loud: #9addab;
    --_lr-ll-color-brand-on-loud: #ffffff;
    --_lr-ld-color-brand-on-loud: #101820;
    --_lr-ll-color-brand-border-loud: #24613c;
    --_lr-ld-color-brand-border-loud: #9addab;
    --_lr-ll-color-neutral-fill-quiet: #f1f5eb;
    --_lr-fl-color-neutral-fill-quiet: initial;
    --_lr-ol-color-neutral-fill-quiet: ;
    --_lr-ld-color-neutral-fill-quiet: #18271e;
    --_lr-fd-color-neutral-fill-quiet: initial;
    --_lr-od-color-neutral-fill-quiet: ;
    --_lr-ll-color-neutral-on-quiet: #183626;
    --_lr-fl-color-neutral-on-quiet: initial;
    --_lr-ol-color-neutral-on-quiet: ;
    --_lr-ld-color-neutral-on-quiet: #e5f5e9;
    --_lr-fd-color-neutral-on-quiet: initial;
    --_lr-od-color-neutral-on-quiet: ;
    --_lr-ll-color-neutral-border-quiet: #6b806b;
    --_lr-fl-color-neutral-border-quiet: initial;
    --_lr-ol-color-neutral-border-quiet: ;
    --_lr-ld-color-neutral-border-quiet: #7c9e87;
    --_lr-fd-color-neutral-border-quiet: initial;
    --_lr-od-color-neutral-border-quiet: ;
    --_lr-ll-color-neutral-fill-normal: #d7eaca;
    --_lr-fl-color-neutral-fill-normal: initial;
    --_lr-ol-color-neutral-fill-normal: ;
    --_lr-ld-color-neutral-fill-normal: #2a4934;
    --_lr-fd-color-neutral-fill-normal: initial;
    --_lr-od-color-neutral-fill-normal: ;
    --_lr-ll-color-neutral-on-normal: #183626;
    --_lr-fl-color-neutral-on-normal: initial;
    --_lr-ol-color-neutral-on-normal: ;
    --_lr-ld-color-neutral-on-normal: #e5f5e9;
    --_lr-fd-color-neutral-on-normal: initial;
    --_lr-od-color-neutral-on-normal: ;
    --_lr-ll-color-neutral-border-normal: #6b806b;
    --_lr-fl-color-neutral-border-normal: initial;
    --_lr-ol-color-neutral-border-normal: ;
    --_lr-ld-color-neutral-border-normal: #7c9e87;
    --_lr-fd-color-neutral-border-normal: initial;
    --_lr-od-color-neutral-border-normal: ;
    --_lr-ll-color-neutral-fill-loud: #183626;
    --_lr-fl-color-neutral-fill-loud: initial;
    --_lr-ol-color-neutral-fill-loud: ;
    --_lr-ld-color-neutral-fill-loud: #e5f5e9;
    --_lr-fd-color-neutral-fill-loud: initial;
    --_lr-od-color-neutral-fill-loud: ;
    --_lr-ll-color-neutral-on-loud: #ffffff;
    --_lr-fl-color-neutral-on-loud: initial;
    --_lr-ol-color-neutral-on-loud: ;
    --_lr-ld-color-neutral-on-loud: #101820;
    --_lr-fd-color-neutral-on-loud: initial;
    --_lr-od-color-neutral-on-loud: ;
    --_lr-ll-color-neutral-border-loud: #183626;
    --_lr-fl-color-neutral-border-loud: initial;
    --_lr-ol-color-neutral-border-loud: ;
    --_lr-ld-color-neutral-border-loud: #e5f5e9;
    --_lr-fd-color-neutral-border-loud: initial;
    --_lr-od-color-neutral-border-loud: ;
    --_lr-ll-color-success-fill-quiet: #e9f5ec;
    --_lr-fl-color-success-fill-quiet: initial;
    --_lr-ol-color-success-fill-quiet: ;
    --_lr-ld-color-success-fill-quiet: #193624;
    --_lr-fd-color-success-fill-quiet: initial;
    --_lr-od-color-success-fill-quiet: ;
    --_lr-ll-color-success-on-quiet: #183626;
    --_lr-fl-color-success-on-quiet: initial;
    --_lr-ol-color-success-on-quiet: ;
    --_lr-ld-color-success-on-quiet: #e5f5e9;
    --_lr-fd-color-success-on-quiet: initial;
    --_lr-od-color-success-on-quiet: ;
    --_lr-ll-color-success-border-quiet: #6b806b;
    --_lr-fl-color-success-border-quiet: initial;
    --_lr-ol-color-success-border-quiet: ;
    --_lr-ld-color-success-border-quiet: #7c9e87;
    --_lr-fd-color-success-border-quiet: initial;
    --_lr-od-color-success-border-quiet: ;
    --_lr-ll-color-success-fill-normal: #cce8d4;
    --_lr-fl-color-success-fill-normal: initial;
    --_lr-ol-color-success-fill-normal: ;
    --_lr-ld-color-success-fill-normal: #2c4f37;
    --_lr-fd-color-success-fill-normal: initial;
    --_lr-od-color-success-fill-normal: ;
    --_lr-ll-color-success-on-normal: #183626;
    --_lr-fl-color-success-on-normal: initial;
    --_lr-ol-color-success-on-normal: ;
    --_lr-ld-color-success-on-normal: #e5f5e9;
    --_lr-fd-color-success-on-normal: initial;
    --_lr-od-color-success-on-normal: ;
    --_lr-ll-color-success-border-normal: #6b806b;
    --_lr-fl-color-success-border-normal: initial;
    --_lr-ol-color-success-border-normal: ;
    --_lr-ld-color-success-border-normal: #7c9e87;
    --_lr-fd-color-success-border-normal: initial;
    --_lr-od-color-success-border-normal: ;
    --_lr-ll-color-success-fill-loud: #215c37;
    --_lr-fl-color-success-fill-loud: initial;
    --_lr-ol-color-success-fill-loud: ;
    --_lr-ld-color-success-fill-loud: #a4e0b4;
    --_lr-fd-color-success-fill-loud: initial;
    --_lr-od-color-success-fill-loud: ;
    --_lr-ll-color-success-on-loud: #ffffff;
    --_lr-fl-color-success-on-loud: initial;
    --_lr-ol-color-success-on-loud: ;
    --_lr-ld-color-success-on-loud: #101820;
    --_lr-fd-color-success-on-loud: initial;
    --_lr-od-color-success-on-loud: ;
    --_lr-ll-color-success-border-loud: #215c37;
    --_lr-fl-color-success-border-loud: initial;
    --_lr-ol-color-success-border-loud: ;
    --_lr-ld-color-success-border-loud: #a4e0b4;
    --_lr-fd-color-success-border-loud: initial;
    --_lr-od-color-success-border-loud: ;
    --_lr-ll-color-warning-fill-quiet: #fff4db;
    --_lr-fl-color-warning-fill-quiet: initial;
    --_lr-ol-color-warning-fill-quiet: ;
    --_lr-ld-color-warning-fill-quiet: #362b12;
    --_lr-fd-color-warning-fill-quiet: initial;
    --_lr-od-color-warning-fill-quiet: ;
    --_lr-ll-color-warning-on-quiet: #183626;
    --_lr-fl-color-warning-on-quiet: initial;
    --_lr-ol-color-warning-on-quiet: ;
    --_lr-ld-color-warning-on-quiet: #e5f5e9;
    --_lr-fd-color-warning-on-quiet: initial;
    --_lr-od-color-warning-on-quiet: ;
    --_lr-ll-color-warning-border-quiet: #6b806b;
    --_lr-fl-color-warning-border-quiet: initial;
    --_lr-ol-color-warning-border-quiet: ;
    --_lr-ld-color-warning-border-quiet: #7c9e87;
    --_lr-fd-color-warning-border-quiet: initial;
    --_lr-od-color-warning-border-quiet: ;
    --_lr-ll-color-warning-fill-normal: #f8df9c;
    --_lr-fl-color-warning-fill-normal: initial;
    --_lr-ol-color-warning-fill-normal: ;
    --_lr-ld-color-warning-fill-normal: #52411a;
    --_lr-fd-color-warning-fill-normal: initial;
    --_lr-od-color-warning-fill-normal: ;
    --_lr-ll-color-warning-on-normal: #183626;
    --_lr-fl-color-warning-on-normal: initial;
    --_lr-ol-color-warning-on-normal: ;
    --_lr-ld-color-warning-on-normal: #e5f5e9;
    --_lr-fd-color-warning-on-normal: initial;
    --_lr-od-color-warning-on-normal: ;
    --_lr-ll-color-warning-border-normal: #6b806b;
    --_lr-fl-color-warning-border-normal: initial;
    --_lr-ol-color-warning-border-normal: ;
    --_lr-ld-color-warning-border-normal: #7c9e87;
    --_lr-fd-color-warning-border-normal: initial;
    --_lr-od-color-warning-border-normal: ;
    --_lr-ll-color-warning-fill-loud: #72500b;
    --_lr-fl-color-warning-fill-loud: initial;
    --_lr-ol-color-warning-fill-loud: ;
    --_lr-ld-color-warning-fill-loud: #f8d67a;
    --_lr-fd-color-warning-fill-loud: initial;
    --_lr-od-color-warning-fill-loud: ;
    --_lr-ll-color-warning-on-loud: #ffffff;
    --_lr-fl-color-warning-on-loud: initial;
    --_lr-ol-color-warning-on-loud: ;
    --_lr-ld-color-warning-on-loud: #101820;
    --_lr-fd-color-warning-on-loud: initial;
    --_lr-od-color-warning-on-loud: ;
    --_lr-ll-color-warning-border-loud: #72500b;
    --_lr-fl-color-warning-border-loud: initial;
    --_lr-ol-color-warning-border-loud: ;
    --_lr-ld-color-warning-border-loud: #f8d67a;
    --_lr-fd-color-warning-border-loud: initial;
    --_lr-od-color-warning-border-loud: ;
    --_lr-ll-color-danger-fill-quiet: #fff0f0;
    --_lr-fl-color-danger-fill-quiet: initial;
    --_lr-ol-color-danger-fill-quiet: ;
    --_lr-ld-color-danger-fill-quiet: #3b2024;
    --_lr-fd-color-danger-fill-quiet: initial;
    --_lr-od-color-danger-fill-quiet: ;
    --_lr-ll-color-danger-on-quiet: #183626;
    --_lr-fl-color-danger-on-quiet: initial;
    --_lr-ol-color-danger-on-quiet: ;
    --_lr-ld-color-danger-on-quiet: #e5f5e9;
    --_lr-fd-color-danger-on-quiet: initial;
    --_lr-od-color-danger-on-quiet: ;
    --_lr-ll-color-danger-border-quiet: #6b806b;
    --_lr-fl-color-danger-border-quiet: initial;
    --_lr-ol-color-danger-border-quiet: ;
    --_lr-ld-color-danger-border-quiet: #7c9e87;
    --_lr-fd-color-danger-border-quiet: initial;
    --_lr-od-color-danger-border-quiet: ;
    --_lr-ll-color-danger-fill-normal: #f9d9dc;
    --_lr-fl-color-danger-fill-normal: initial;
    --_lr-ol-color-danger-fill-normal: ;
    --_lr-ld-color-danger-fill-normal: #593038;
    --_lr-fd-color-danger-fill-normal: initial;
    --_lr-od-color-danger-fill-normal: ;
    --_lr-ll-color-danger-on-normal: #183626;
    --_lr-fl-color-danger-on-normal: initial;
    --_lr-ol-color-danger-on-normal: ;
    --_lr-ld-color-danger-on-normal: #e5f5e9;
    --_lr-fd-color-danger-on-normal: initial;
    --_lr-od-color-danger-on-normal: ;
    --_lr-ll-color-danger-border-normal: #6b806b;
    --_lr-fl-color-danger-border-normal: initial;
    --_lr-ol-color-danger-border-normal: ;
    --_lr-ld-color-danger-border-normal: #7c9e87;
    --_lr-fd-color-danger-border-normal: initial;
    --_lr-od-color-danger-border-normal: ;
    --_lr-ll-color-danger-fill-loud: #982d3e;
    --_lr-fl-color-danger-fill-loud: initial;
    --_lr-ol-color-danger-fill-loud: ;
    --_lr-ld-color-danger-fill-loud: #ffb8c1;
    --_lr-fd-color-danger-fill-loud: initial;
    --_lr-od-color-danger-fill-loud: ;
    --_lr-ll-color-danger-on-loud: #ffffff;
    --_lr-fl-color-danger-on-loud: initial;
    --_lr-ol-color-danger-on-loud: ;
    --_lr-ld-color-danger-on-loud: #101820;
    --_lr-fd-color-danger-on-loud: initial;
    --_lr-od-color-danger-on-loud: ;
    --_lr-ll-color-danger-border-loud: #982d3e;
    --_lr-fl-color-danger-border-loud: initial;
    --_lr-ol-color-danger-border-loud: ;
    --_lr-ld-color-danger-border-loud: #ffb8c1;
    --_lr-fd-color-danger-border-loud: initial;
    --_lr-od-color-danger-border-loud: ;
    --_lr-ll-color-no-data: #44634d;
    --_lr-ld-color-no-data: #afc9b7;
    --_lr-ll-color-overlay: rgb(0 0 0 / 0.45);
    --_lr-ld-color-overlay: rgb(0 0 0 / 0.65);
    --_lr-ll-color-overlay-strong: #17212b;
    --_lr-ld-color-overlay-strong: #e7eef4;
    --_lr-ll-color-on-strong-overlay: #ffffff;
    --_lr-ld-color-on-strong-overlay: #17212b;
    --lr-theme-focus-ring-width: 2px;
    --lr-theme-focus-ring-offset: 2px;
    --lr-theme-border-radius-xs: 0px;
    --lr-theme-border-radius-m: 0px;
    --lr-theme-border-radius-button: 0px;
    --lr-theme-border-radius-container: 0px;
    --lr-theme-font-family-body: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    --lr-theme-font-family-heading: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    --lr-theme-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    --_lr-ll-color-chart-sequential-1: #eaf4e5;
    --_lr-ld-color-chart-sequential-1: #183725;
    --_lr-ll-color-chart-sequential-2: #76a66e;
    --_lr-ld-color-chart-sequential-2: #76a66e;
    --_lr-ll-color-chart-sequential-3: #1e4f31;
    --_lr-ld-color-chart-sequential-3: #ccebc9;
    --_lr-ll-color-chart-diverging-1: #86450e;
    --_lr-ld-color-chart-diverging-1: #f5c27c;
    --_lr-ll-color-chart-diverging-2: #f1f5eb;
    --_lr-ld-color-chart-diverging-2: #294333;
    --_lr-ll-color-chart-diverging-3: #285a91;
    --_lr-ld-color-chart-diverging-3: #b0d7ff;
  }
}
